{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
{% bootstrap_messages %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.8/dist/purify.min.js "></script>

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}"> Schedule </a>
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'course_all' %}">课程</a>
            <a class="nav-item nav-link" href="#">课表</a>
            <a class="nav-item nav-link" href="#">待办</a>
        </div>
        <div class="navbar-nav">
            {% if user.is_authenticated %}
                <a class="nav item nav-link" href="#">{{ user.get_username }}</a>
            {% else %}
                <a class="nav-item nav-link" href="#">登录</a>
                <a class="nav-item nav-link" href="#">注册</a>
            {% endif %}
        </div>
    </div>
</nav>

<style>
    @media (min-width: 200px) {
        .navbar-nav {
            flex-direction: row;
        }

        .navbar-nav .nav-link {
            padding-right: .5rem;
            padding-left: .5rem;
        }
    }
</style>

{% block content %}
{% endblock content %}
{% block footer %}
{% endblock footer %}