{% extends "base.html" %}
{% block title %}
    {{ course.name }} / Schedule 课程页
{% endblock title %}

{% block content %}
    <div>
        <div class="container-fluid p-5 bg-primary text-white text-start">
            <div>
                <a class="text-white fs-1 fw-bold">{{ course.name }}</a>
                <div>{{ course.code }}</div>
            </div>
            <div class="row my-4 fw-bold">
                <div class="col-lg-6">学分 {{ course.credits }}</div>
                <div class="col-lg-6">学时 {{ course.period }}</div>
                <div class="col-lg-6">考核方式 {{ course.exam_type }}</div>
                <div class="col-lg-6">评分制 {{ course.grading_type }}</div>
            </div>
            <div class="row fw-light">
                <div class="col-lg-6">课程类别 {{ course.type_base }}</div>
                <div class="col-lg-6">教学类型 {{ course.type_teaching_method }}</div>
                <div class="col-lg-6">选课类型 {{ course.type_join_type }}</div>
                <div class="col-lg-6">课程层次 {{ course.type_level }}</div>
                <div class="col-lg-6">开课单位 {{ course.open_department }}</div>
            </div>
        </div>
        <div class="mx-5 my-2">
            <div class="row">
                <div class="col">
                    {% comment %} search box: {% endcomment %}
                    <div class="my-3">
                        <form action="{% url 'course' course.id %}" method="get" id="query">
                            <div class="d-flex">
                                <select class="form-select" name="semester">
                                    <option value="">全部学期</option>
                                    {% for semester in semesters %}
                                        {% if semester.id == semester_id %}
                                            <option value="{{ semester.id }}" selected>{{ semester.name }}</option>
                                        {% else %}
                                            <option value="{{ semester.id }}">{{ semester.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>

                                <input type="text" class="form-control mx-4" name="name" placeholder="课程号 or 教师名"
                                       value="{{ name }}">
                                <button class="btn btn-outline-secondary" type="submit">Search</button>
                            </div>

                            <script>
                                // auto submit:
                                $(document).ready(function () {
                                    $('#query').change(function () {
                                        $(this).submit();
                                    });
                                });
                            </script>
                        </form>
                    </div>

                    <div class="row">
                        {% for lesson in lessons %}
                            <div class="col-lg-3">
                                <div class="card shadow my-3">
                                    <div class="card-header">
                                        <a href="{% url 'lesson' lesson.jw_id %}" class="link-primary">
                                            {% if lesson.teachers_name|length %}
                                                {{ lesson.semester.name }} - {{ lesson.teachers_name }}
                                            {% else %}
                                                {{ lesson.semester.name }}
                                            {% endif %}
                                        </a>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">课程号 {{ lesson.code }}</li>
                                        <li class="list-group-item">校区 {{ lesson.campus }}</li>
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="border shadow my-2">
                        <div class="m-4">
                            <h4>课程简介</h4>
                            {{ course.description|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}